<div class="slider-container">
  <div class="slider">
    <div class="slide default" style="--slide-color: rgba(197, 176, 250, 0.7); --slide-background: none;" id="slide1" data-slide="1">
  <p class="slider-conteiner-text-background" style="--slide-color-text: rgba(203, 182, 255, 0.6);">Benjamin Moore</p>

      <img class="slider-conteiner-image" src="../../image/slider/lamp.png" alt="Item 1" />
      <img class="slider-conteiner-image-mini" src="../../image/slider/lamp-mini.png" alt="Item 1" />
      <p class="slider-container-utp">Товар дня</p>
      <div class="slider-container-number"> слайд <span>01</span></div>
      <div class="slider-container-detail">
      <div class="slider-container-information">
        <p class="slider-container-name">Светильник</p>
        <p class="slider-container-description">
          Функциональная дизайнерская лампа для создания максимально комфортного
          освещения
        </p>
<hr class="slider-container-hr">
        <p class="slider-container-price">150 000 <span>₽</span></p>
      </div>
      <div class="slider-container-button">
        <div class="slider-container-elipce-first">
          <div class="slider-container-elipce-second">
            <button class="slider-container-bye-button">
              <img class="slider-container-bye-button-image" src="../../image/slider/button/shopping-cart.png" alt="" />
              Купить
            </button>
          </div>
        </div>
      </div>
    </div>
    </div>
    <div class="slide default" style="--slide-color: #FA8FEF; --slide-background: #FA8FEF;" id="slide2" data-slide="2">
      <p class="slider-conteiner-text-background" style="--slide-color-text: rgba(255, 168, 246, 1);">Paint Here Glory</p>
			<img class="slider-conteiner-image" src="../../image/slider/chair.png" alt="Item 2" />
      <img class="slider-conteiner-image-mini" src="../../image/slider/chair-mini.png" alt="Item 2" />
      <p class="slider-container-utp">Товар дня</p>
      <div class="slider-container-number"> слайд <span>02</span></div>
      <div class="slider-container-detail">
      <div class="slider-container-information">
        <p class="slider-container-name">кресло</p>
        <p class="slider-container-description">
          Функциональная дизайнерская лампа для создания максимально комфортного
          освещения
        </p>
				<hr class="slider-container-hr">

        <p class="slider-container-price">150 000 <span>₽</span></p>
      </div>
      <div class="slider-container-button">
        <div class="slider-container-elipce-first">
          <div class="slider-container-elipce-second">
            <button class="slider-container-bye-button">
              <img class="slider-container-bye-button-image" src="../../image/slider/button/shopping-cart.png" alt="" />
              Купить
            </button>
          </div>
        </div>
      </div>
    </div>
    </div>
    <div class="slide default" style="--slide-color: #AECFFF;  --slide-background: #A6C9FF;" id="slide3" data-slide="3">
      <p class="slider-conteiner-text-background" style="--slide-color-text: rgba(190, 216, 255, 1);">Benjamin Moore</p>
			<img class="slider-conteiner-image" src="../../image/slider/table.png" alt="Item 3" />
      <img class="slider-conteiner-image-mini" src="../../image/slider/table-mini.png" alt="Item 3" />
      <p class="slider-container-utp">Товар дня</p>
      <div class="slider-container-number"> слайд <span>03</span></div>
      <div class="slider-container-detail">
      <div class="slider-container-information">
        <p class="slider-container-name">стол</p>
        <p class="slider-container-description">
          Функциональная дизайнерская лампа для создания максимально комфортного
          освещения
        </p>
<hr class="slider-container-hr">
        <p class="slider-container-price">150 000 <span>₽</span></p>
      </div>
      <div class="slider-container-button">
        <div class="slider-container-elipce-first">
          <div class="slider-container-elipce-second">
            <button class="slider-container-bye-button">
              <img class="slider-container-bye-button-image" src="../../image/slider/button/shopping-cart.png" alt="" />
              Купить
            </button>
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>
