  <h2 class="categoties-name">Категории</h2>

<div class="categoties">
  <div class="categoty">
    <img src="../../image/category/categories/Frame 1321314736.png" alt="">

    <p class="categoty-name">напольные <br>зеркала</p>
    <img src="../../image/category/надпись.svg" alt="" class="categoty-manufacturing">
    <button class="categoty-button"></button>
    <div class="categoty-button-quantity">4 <span>шт</span></div>
  </div>
	<div class="categoty">
    <img src="../../image/category/categories/зеркало.png" alt="">

    <p class="categoty-name">торшеры<br>и лампы</p>
    <img src="../../image/category/надпись.svg" alt="" class="categoty-manufacturing">
    <button class="categoty-button"></button>
    <div class="categoty-button-quantity">4 <span>шт</span></div>
  </div>
	<div class="categoty">
    <img src="../../image/category/categories/sophisticated-unusual-modern-high-chair-wave-form 2.png" alt="">

    <p class="categoty-name">кресла <br>и стулья</p>
    <img src="../../image/category/надпись.svg" alt="" class="categoty-manufacturing">
    <button class="categoty-button"></button>
    <div class="categoty-button-quantity">4 <span>шт</span></div>
  </div>
	<div class="categoty">
    <img src="../../image/category/categories/Frame 1321314772.png" alt="">

    <p class="categoty-name">столы <br>и тумбы</p>
    <img src="../../image/category/надпись.svg" alt="" class="categoty-manufacturing">
    <button class="categoty-button"></button>
    <div class="categoty-button-quantity">4 <span>шт</span></div>
  </div>
</div>
